<div *ngIf="loggedUser && jwtUsertype!='User'">
<div *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin' || jwtUsertype=='Moderator'" class="row">
<div class="col-md-6 user-container">
    <h2 class="text-center">New Post</h2>
<form [formGroup]="newpostform" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="blogtitle">Post Title:</label>
    <input type="text" formControlName="blogtitle" name="blogtitle" class="form-control" id="blogtitle">
  </div>
  <div class="form-group">
    <label for="blogcontent">Post Content:</label>
    <editor [init]="{
          base_url: '/tinymce',
          branding: false,
          suffix: '.min',
          height: 400,
          menubar: true,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }" formControlName="blogcontent" name="blogcontent" id="blogcontent">
   </editor>
  </div>
  <label>Post Author:</label>
  <input type="text" disabled formControlName="blogauthor" name="blogauthor" class="form-control" id="blogauthor">
  <br><br>
<button class="btn btn-primary">Create Post</button>
  </form>
  <button style="margin-top: 5px;" class="btn btn-danger" routerLink="/blog">Cancel</button>
  </div>
  <br>
    </div>
    <br>
  </div>
