<div class="container "*ngIf="loggedUser">
  <table class="table table-stip shadow">
    <tr class="bg-dark text-white text-center">
      <td>Setting Name</td>
      <td>Setting Value</td>
      <td>Action</td>
      </tr>
        <tr class="text-center" *ngFor="let setting of settings">
          <td><strong>{{setting.setting}}</strong></td>
          <td><strong>{{setting.value}}</strong></td>
          <td><button class="btn btn-success" (click)="selectSetting(setting)">Select Setting</button> |
              <button class="btn btn-danger" (click)="deleteSetting(setting.id)">Delete Setting</button></td>
          </tr>
    </table>
<br>
<!-- ---------------------- -->
<form #newsetting="ngForm" (ngSubmit)="createSetting(newsetting)">
  <label>Setting Name</label>
  <br>
  <input type="text" name="setting" ngModel>
  <br>
  <label>Setting Value</label>
  <br>
  <input type="text" name="value" ngModel>
  <br>
  <br>
  <input class="btn btn-success" type="submit" value="Create Setting">
  </form>
  <br>
  <form #editsetting="ngForm" (ngSubmit)="editSetting(editsetting)">
    <label>Setting Name</label>
    <br>
    <input type="text" name="setting" [(ngModel)]="selectedSetting.setting">
    <br>
    <label>Setting Value</label>
    <br>
    <input type="text" name="value" [(ngModel)]="selectedSetting.value">
    <br>
    <br>
    <input class="btn btn-success" type="submit" value="Submit Edits">
    </form>
</div>
