<div class="container "*ngIf="loggedUser">
  <nb-card accent="warning">
    <nb-card-header><h4>Settings</h4></nb-card-header>
      <nb-card-body>
  <table class="table table-striped">
    <thead>
    <tr class="bg-dark text-white text-center">
      <td>Setting Name</td>
      <td>Setting Value</td>
      </tr>
      </thead>
      <tbody class="align-middle">
          <tr class="text-center" *ngFor="let setting of settings | orderBy : ['id']">
            <td>
              {{setting.setting | titlecase}}
            </td>
            <td>
            <input [disabled]="textLock" (keyup)="onKey($event)" (keyup)="onInit(setting.id)" (keyup)="onUpdate()" type="text" name="setting.value" class="form-control" id="setting.value" [ngModel]="setting.value">
            </td>
        </tr>
          </tbody>
    </table>
    </nb-card-body>
    </nb-card>
    <br>
    <nb-card>
      <nb-card-body>
    <p class="text-center">Changes save automatically</p>
    <p class="text-center">Locked: {{textLock}}</p>
    <br>
    <button (click)="textLocker()" class="btn btn-primary d-block mx-auto">Toggle Settings Lock</button>
    </nb-card-body>
</nb-card>
</div>
