<div class="container "*ngIf="loggedUser">
  <div class="card shadow">
  <table class="table table-striped">
    <thead>
    <tr class="bg-dark text-white text-center">
      <td>Setting Name</td>
      <td>Setting Value</td>
      </tr>
      </thead>
      <tbody class="align-middle">
          <tr class="text-center" *ngFor="let setting of settings | orderBy : ['id']">
            <td>
              {{setting.setting | titlecase}}
            </td>
            <td>
            <input [disabled]="textLock" (keyup)="onKey($event)" (keyup)="onInit(setting.id)" (keyup)="onUpdate()" type="text" name="setting.value" class="form-control" id="setting.value" [ngModel]="setting.value">
            </td>
        </tr>
          </tbody>
    </table>
    </div>
    <br>
    <div class="card shadow">
    <p class="text-center">Changes save automatically</p>
    <p class="text-center">Locked: {{textLock}}</p>
    <br>
    <button (click)="textLocker()" class="btn btn-primary text-center">Toggle Settings Lock</button>
</div>
</div>
