<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
        <img class="logo d-inline" src="./assets/images/AWEBlack.png" width="100px">
        <h6 class="text-uppercase font-weight-bold d-inline">Angular Web Engine</h6>
        <br><br>
        <p>Angular Web Engine (AWE) is an administration and content management system built on Angular and PHP. It is designed to manage content on the frontend of Angular web sites and applications.</p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 routerLink="/about" class="about-link text-uppercase font-weight-bold">About AWE</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="font-size:12px; line-height:0px;"><strong>Build Version</strong></p>
        <p routerLink="/changelog" class="link" style="font-size:12px; line-height:0px;">{{version}}</p>
      </div>
    </div>
  </div>
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://deply.live" target="_blank"> Deply.Live</a>
  </div> -->
</footer>
