footer{
  margin-top: 50px;
}

.link{
  cursor: pointer;
  outline: none;
}

.about-link{
  cursor: pointer;
  outline: none;
}

.about-link:hover{
  text-decoration: underline;
}

.link:hover{
  text-decoration: underline;
}

.logo{
  padding-right: 15px;
}
