<nb-actions class="logo-only" size="medium">
  <nb-action><div class="logo-container">
    <a class="logo" routerLink="/dashboard"><img src="./assets/images/AWEBlack.png" width="100px"></a>
  </div></nb-action>
</nb-actions>
<nb-actions class="full-top-nav" size="medium">
  <nb-action><div class="logo-container">
    <a class="logo" routerLink="/dashboard"><img src="./assets/images/AWEBlack.png" width="100px"></a>
  </div></nb-action>
<nb-action title="Dashboard" icon="home-outline" *ngIf="loggedUser" link="/dashboard"></nb-action>
<nb-action title="Blog" icon="book-outline" *ngIf="loggedUser" link="/blog"></nb-action>
<nb-action title="Users" icon="people-outline" *ngIf="loggedUser && jwtUsertype!='User'" link="/viewusers"></nb-action>
<nb-action title="Settings" icon="settings-2-outline" *ngIf="jwtUsertype=='Super-Admin'" link="/settings"></nb-action>
</nb-actions>
<a (click)="viewMyProfile()">
  <nb-user *ngIf="loggedUser" style="position:absolute;right:105px;top:12px;" size="large"
           name="{{loggedUser | titlecase}}"
           picture="{{image_path}}"
           badgeText=""
           badgeStatus="danger"
           badgePosition="top left">>
  </nb-user>
</a>
<nb-actions style="position:absolute;right:0px;top:20px;" size="medium">
<nb-action *ngIf="!loggedUser"><span class="navbar-text">
  Please Sign In
</span></nb-action>
<nb-action *ngIf="loggedUser"><button class="btn btn-outline-dark my-2 my-sm-0" (click)="logout()" type="submit">Logout</button></nb-action>
</nb-actions>
