<div *ngIf="loggedUser && jwtUsertype!='Moderator' && jwtUsertype!='User'">
<div class="col-md-6 user-container">
  <h2 class="text-center">Register User</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" formControlName="username" placeholder="Username" name="username" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="usertype">Usertype:</label>
      <select formControlName="usertype" name="usertype.name" id="usertype" class="form-control">
               <option value = "User">User</option>
               <option value = "Moderator">Moderator</option>
               <option *ngIf="jwtUsertype=='Super-Admin'" value = "Admin">Administrator</option>
               <option *ngIf="jwtUsertype=='Super-Admin'" value = "Super-Admin">Super-Admin</option>
      </select>
    </div>
    <button class="btn btn-success">Create User</button>
  </form>
  <button style="margin-top: 5px;" class="btn btn-danger" routerLink="/viewusers">Cancel</button>
</div>
