<div *ngIf="loggedUser">
<div class="col-md-6 user-container">
  <h2 class="text-center">Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onUpdate()">
    <div class="form-group">
      <label for="password">New Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
    </div>
    <div class="form-group">
    </div>
    <button type="submit" [disabled]=isDisabled class="btn btn-success">Change Password</button>
  </form>
  <button style="margin-top: 5px; margin-right: 5px;" class="btn btn-primary" (click)="checkPass()">{{passwordInput}}</button>
  <button style="margin-top: 5px;" class="btn btn-danger" (click)="cancelChange(userID)">Cancel</button>
  <p>Do not leave blank or user will be set as inactive</p>
</div>
</div>
