<div class="container-fluid">
  <div class="row">
<div class="col-md-6 user-container" *ngIf="userID==profileID || jwtUsertype=='Super-Admin' || jwtUsertype=='Admin' || jwtUsertype=='Moderator'">
  <div *ngIf="profileUser">
    <nb-card accent="info">
      <nb-card-header><img width="75px" height="75px;" src="{{profileAvatar}}"/><span class="profile-username">{{profileUser}}</span></nb-card-header>
        <nb-card-body>
          <strong>E-Mail:</strong> {{profileEmail}}
          <br><br>
          <strong>Usertype:</strong> {{profileType}}
          <br><br>
          <strong>Full Name:</strong> {{profileName}}
          <br><br>
          <strong>Bio:</strong>
          <p [innerHTML]="profileBio"></p>
          <br>
          <strong>Last Login:</strong> {{profileLogin}}
        </nb-card-body>
      <nb-card-footer>
        <div *ngIf="userID==profileID || jwtUsertype=='Super-Admin' || jwtUsertype=='Admin'">
          <div *ngIf="profileType!='Super-Admin' || jwtUsertype=='Super-Admin'">
            <button style="margin-top: 5px; margin-left: 5px;" class="btn btn-primary" routerLink="/edituser/{{profileID}}">Edit Profile</button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  <div *ngIf="!profileUser">
    <h4 class="text-center" style="color:grey;">User does not exist</h4>
  </div>
</div>
</div>
<div class="col-md-6 user-container" *ngIf="userID==profileID || jwtUsertype=='Super-Admin' || jwtUsertype=='Admin' || jwtUsertype=='Moderator'">
  <div *ngIf="profileUser">
    <nb-card accent="primary">
      <nb-card-header>Latest Blog Posts:</nb-card-header>
        <nb-card-body>
            <div class="blog-section" *ngIf="blogInfo">
            <div class="post-title text-center blog-post-card card" *ngFor="let post of blogInfo" routerLink="/viewpost/{{post.slug}}">
              <strong>{{post.blogtitle}}</strong>
            </div>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card accent="warning">
      <nb-card-header>Something Here Later:</nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>
</div>
</div>
</div>
</div>
<div *ngIf="!profileUser">
  <h4 class="text-center" style="color:grey;">User does not exist</h4>
</div>
<div class="container" *ngIf="userID!=profileID">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h4 *ngIf="jwtUsertype!='Super-Admin' && jwtUsertype!='Admin' && jwtUsertype!='Moderator'" style="color:grey;">You don't have permission to view this user</h4>
    </div>
  </div>
</div>
