<div class="container" *ngIf="loggedUser">
  <br>
<table class="table table-stip shadow">
<tr class="bg-dark text-white text-center">
  <td>UID</td>
  <td>Username</td>
  <td>Usertype</td>
  <td>Action</td>
</tr>
<tr class="text-center" *ngFor="let user of userData">
  <td>{{user.uid}}</td>
  <td>{{user.username}}</td>
  <td>{{user.usertype}}</td>
  <td><a href="javascript:void(0);" class="btn btn-success" (click)="editUser(user.uid)">Edit</a> | <a href="javascript:void(0);" class="btn btn-danger" (click)="deleteUser(user.uid)">Delete</a></td>
</tr>
</table>
<button style="margin-top: 5px; margin-left: 5px;" class="btn btn-primary" routerLink="/register">New User</button>
</div>
