<div class="container" *ngIf="loggedUser">
<div class="card shadow">
<table class="table table-striped">
<thead>
<tr class="bg-dark text-white text-center">
  <!-- <td>UID</td> -->
  <td>Avatar</td>
  <td>Username</td>
  <td>Usertype</td>
  <td>Action</td>
</tr>
</thead>
<tbody>
<tr class="profile-item text-center" *ngFor="let user of userData  | orderBy : ['uid']">
  <td (click)="viewUser(user.uid)" class="text-center align-middle"><img style="border-radius:40px;" width=40px height=40px src={{user.image_path}}/></td>
  <td (click)="viewUser(user.uid)" class="align-middle" (click)="viewUser(user.uid)">{{user.username}}</td>
  <td (click)="viewUser(user.uid)" class="align-middle">{{user.usertype}}</td>
  <td class="align-middle" *ngIf="jwtUsertype=='Super-Admin'"><a href="javascript:void(0);" class="btn btn-success" (click)="editUser(user.uid)">Edit</a><span *ngIf="user.uid!=jwtUID"> | <a href="javascript:void(0);" class="btn btn-danger" (click)="deleteUser(user.uid)">Delete</a></span></td>
  <td class="align-middle" *ngIf="jwtUsertype=='Admin' && user.usertype!='Super-Admin'"><a href="javascript:void(0);" class="btn btn-success" (click)="editUser(user.uid)">Edit</a> | <a href="javascript:void(0);" class="btn btn-danger" (click)="deleteUser(user.uid)">Delete</a></td>
  <td (click)="viewUser(user.uid)" class="align-middle" *ngIf="jwtUsertype=='Admin' && user.usertype=='Super-Admin'">No Actions Available</td>
  <td (click)="viewUser(user.uid)" class="align-middle" *ngIf="jwtUsertype!='Super-Admin' && jwtUsertype!='Admin'">No Actions Available</td>
</tr>
</tbody>
</table>
</div>
<div *ngIf="loggedUser">
<button *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin'" style="margin-top: 5px; margin-left: 5px;" class="btn btn-primary" routerLink="/register">New User</button>
</div>
</div>
