a {
  color: #fff;
}

.profile-item:hover{
  background-color: #d4d7dd;;
  cursor: pointer;
}

.card{
  padding: 10px;
  margin-bottom: 5px;
}

table{
  margin-bottom: unset;
}

.btn:hover{
  color: #fff;
}

h4{
  color: #586070;
}

nb-icon{
  font-size: 2.1rem;
  margin-right: 5px;
}
