<div *ngIf="loggedUser">
<div *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin' || jwtUsertype=='Moderator'" class="col-md-6 user-container">
  <h2 class="text-center">Edit Post</h2>
  <form [formGroup]="posteditForm" (ngSubmit)="onUpdate()">
    <div class="form-group">
      <label for="blogtitle">Post Title:</label>
      <input type="text" formControlName="blogtitle" name="blogtitle" class="form-control" id="blogtitle">
    </div>
    <div class="form-group">
      <label for="blogcontent">Post Content:</label>
      <editor [init]="{
            base_url: '/tinymce',
            branding: false,
            suffix: '.min',
            height: 400,
            menubar: true,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
              'undo redo | formatselect | bold italic backcolor | \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | removeformat | help'
          }" formControlName="blogcontent" name="blogcontent" id="blogcontent">
     </editor>
    </div>
    <div class="form-group">
      <label for="blogauthor">Post Author:</label>
      <input disabled type="text" formControlName="blogauthor" name="blogauthor" class="form-control" id="blogauthor">
    </div>
    <button class="btn btn-success">Save Post</button>
  </form>
  <button style="margin-top: 5px;" class="btn btn-danger" routerLink="/viewpost/{{postSlug}}">Cancel</button>
  <button style="margin-top: 5px; margin-left: 5px;" class="btn btn-warning" (click)="deletePost()">Delete</button>
</div>
</div>
