<app-toasts></app-toasts>
<nb-layout *ngIf="installed=='true'">
  <nb-layout-header fixed>
    <div class="header-container">
      <app-navbar></app-navbar>
      <div *ngIf="loading==true" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="loading" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 100%;"></div>
      </div>
    </div>
  </nb-layout-header>
  <nb-sidebar responsive collapsedBreakpoints="['']">
  <nb-menu *ngIf="sidebarCompact==false" [items]="sidebarctrls" (click)="compactSB()"></nb-menu>
  <nb-menu *ngIf="sidebarCompact==true" [items]="sidebarctrls" (click)="expandSB()"></nb-menu>
  <hr>
  <nb-menu *ngIf="loggedUser && jwtUsertype=='Super-Admin'" [items]="saitems"></nb-menu>
  <div *ngIf="loggedUser"><nb-menu *ngIf="jwtUsertype=='Admin' || jwtUsertype=='Moderator'" [items]="aitems"></nb-menu></div>
  <nb-menu *ngIf="!loggedUser && jwtUsertype!='Admin' && jwtUsertype!='Super-Admin'" [items]="litems"></nb-menu>
  <nb-menu *ngIf="loggedUser && jwtUsertype!='Admin' && jwtUsertype!='Super-Admin' && jwtUsertype!='Moderator'" [items]="uitems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
<nb-layout *ngIf="!installed || installed=='false'">
  <nb-layout-header fixed>
    <div class="header-container">
      <app-installnav></app-installnav>
      <div *ngIf="loading==true" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="loading" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 100%;"></div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
  <app-install></app-install>
  </nb-layout-column>
</nb-layout>
