<app-toasts></app-toasts>
<div *ngIf="!installStatus || installStatus=='0'">
<nb-layout *ngIf="token">
  <nb-layout-header fixed>
    <div class="header-container">
      <app-navbar></app-navbar>
    </div>
  </nb-layout-header>
  <nb-sidebar responsive collapsedBreakpoints="['']">
  <nb-menu *ngIf="sidebarCompact==false" [items]="sidebarctrls" (click)="compactSB()"></nb-menu>
  <nb-menu *ngIf="sidebarCompact==true" [items]="sidebarctrls" (click)="expandSB()"></nb-menu>
  <hr>
  <nb-menu *ngIf="loggedUser && jwtUsertype=='Super-Admin'" [items]="saitems"></nb-menu>
  <div *ngIf="loggedUser"><nb-menu *ngIf="jwtUsertype=='Admin' || jwtUsertype=='Moderator'" [items]="aitems"></nb-menu></div>
  <nb-menu *ngIf="!loggedUser && jwtUsertype!='Admin' && jwtUsertype!='Super-Admin'" [items]="litems"></nb-menu>
  <nb-menu *ngIf="loggedUser && jwtUsertype!='Admin' && jwtUsertype!='Super-Admin' && jwtUsertype!='Moderator'" [items]="uitems"></nb-menu>
  </nb-sidebar>
  <nb-layout-column [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <router-outlet *ngIf="loading2==false"></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
<nb-layout *ngIf="!token && installStatus=='0'">
  <nb-layout-header fixed>
    <div class="header-container">
      <app-installnav></app-installnav>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <div class="login-box card">
  <app-login></app-login>
  </div>
  </nb-layout-column>
</nb-layout>
</div>
<nb-layout *ngIf="installStatus=='1'">
  <nb-layout-header fixed>
    <div class="header-container">
      <app-installnav></app-installnav>
    </div>
  </nb-layout-header>
  <nb-layout-column>
  <app-install></app-install>
  </nb-layout-column>
</nb-layout>
