<app-toasts></app-toasts>
<nb-layout>

  <nb-layout-header fixed>
    <div class="header-container">
      <app-navbar></app-navbar>
    </div>
  </nb-layout-header>

  <nb-sidebar responsive collapsedBreakpoints="['']">
  <nb-menu *ngIf="sidebarCompact==false" [items]="sidebarctrls" (click)="compactSB()"></nb-menu>
  <nb-menu *ngIf="sidebarCompact==true" [items]="sidebarctrls" (click)="expandSB()"></nb-menu>
  <hr>
  <nb-menu *ngIf="loggedUser && jwtUsertype=='Super-Admin'" [items]="saitems"></nb-menu>
  <div *ngIf="loggedUser"><nb-menu *ngIf="jwtUsertype=='Admin' || jwtUsertype=='Moderator'" [items]="aitems"></nb-menu></div>
  <nb-menu *ngIf="!loggedUser && jwtUsertype!='Admin' && jwtUsertype!='Super-Admin'" [items]="litems"></nb-menu>
  <nb-menu *ngIf="loggedUser && jwtUsertype!='Admin' && jwtUsertype!='Super-Admin' && jwtUsertype!='Moderator'" [items]="uitems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
