.blog-post{
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  padding-top: 10px;
  line-height: 20px;
}

.blog-post:hover{
  background-color: #f6faff;
}

.blog-post .posttitle{
  padding-top: 10px;
}

.blog-post .postid{
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: #fff;
}

label{
  padding: 10px;
}

input{
  margin-left: 10px;
}

a:hover {
  text-decoration: none;
}

button{
  z-index: 1;
  margin-bottom: 10px;
}

nb-action{
  margin-left: -20px;
}
