<div *ngIf="loggedUser">
<button *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin' || jwtUsertype=='Moderator'" class="btn btn-primary" routerLink="/newpost">New Post</button>
</div>
<div *ngIf="blogInfo" class="contaniner">
  <div class="row">
<div class="col-12 blog-post" *ngFor="let post of blogInfo | orderBy : ['-id']">
    <a routerLink="/viewpost/{{post.id}}">
      <small class="postid">Post ID: {{post.id}}</small>
      <h1 class="posttitle">{{post.blogtitle | uppercase}}</h1>
      <p>Posted on: {{post.post_date}}</p>
      <p>By: {{post.blogauthor | titlecase}}</p>
    </a>
  </div>
  </div>
  </div>
  <div class="contaniner" *ngIf="!blogInfo || blogInfo.length < 1">
    <div class="row">
    <div class="col d-flex justify-content-center">
    <h4 style="color:grey;">There are no posts</h4>
    </div>
    </div>
  </div>
