#blog-title h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: cursive;
  color: #fff;
}

#blog-title{
  background-color: #444;
  margin-bottom: 20px;
}

.blog-post{
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 5px;
}

label{
  padding: 10px;
}

input{
  margin-left: 10px;
}

a:hover {
  text-decoration: none;
}

button{
  z-index: 1;
  margin-bottom: 10px;
}

nb-action{
  margin-left: -20px;
}
