#blog-title h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: cursive;
  color: #fff;
}

#blog-title{
  background-color: #444;
  margin-bottom: 20px;
}

.blog-post{
  text-align: center;
}

label{
  padding: 10px;
}
