<div *ngIf="loggedUser">
<button *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin' || jwtUsertype=='Moderator'" class="btn btn-primary" routerLink="/newpost">New Post</button>
</div>
<div *ngIf="blogInfo" class="contaniner">
  <div class="row">
<nb-card class="col-12 text-center" *ngFor="let post of blogInfo | orderBy : ['-id']">
  <nb-card-body>
    <a routerLink="/viewpost/{{post.slug}}">
      <small class="postid">Post ID: {{post.id}}</small>
      <h1 class="posttitle">{{post.blogtitle | uppercase}}</h1>
      <p>Posted on: {{post.post_date}}</p>
      <p><a routerLink="/profile/{{post.blogauthor | lowercase}}">{{post.blogauthor | titlecase}}</a></p>
    </a>
    </nb-card-body>
  </nb-card>
  </div>
  </div>
  <div class="contaniner" *ngIf="!blogInfo || blogInfo.length < 1">
    <div class="row">
    <div class="col d-flex justify-content-center">
    <h4 style="color:grey;">There are no posts</h4>
    </div>
    </div>
  </div>
