#dash-title h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: cursive;
  color: #fff;
}

#dash-title{
  background-color: #444;
}

#content{
  margin-top: 20px;
}

.card{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
