<div *ngIf="loggedUser">
  <div class="container-fluid">
    <div class="row">
      <div id="dash-title" class="col">
        <h1>Welcome to your Dashboard</h1>
      </div>
    </div>
    <div id="content" class="row less-width">
      <div class="col">
        <h2>Blog Posts</h2>
        <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of blogInfo; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ post.blogtitle }}</td>
          <td>{{ post.blogauthor }}</td>
        </tr>
        </tbody>
      </table>
      </div>
      <div *ngIf="jwtUsertype!='User'" class="col">
        <h2>Site Settings</h2>
        <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Setting</th>
          <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let setting of settings">
          <td>{{ setting.setting }}</td>
          <td>{{ setting.value }}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
