#dash-title h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: cursive;
  color: #fff;
}

#dash-title{
  background-color: #444;
}

#content{
  margin-top: 20px;
}

.less-width{
  max-width: 80%;
  margin: auto;
}
