<div *ngIf="loggedUser">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <nb-card accent="primary">
        <nb-card-header><h4><nb-icon icon="book-outline"></nb-icon>Blog Posts</h4></nb-card-header>
        <nb-card-body>
        <table class="table table-striped">
        <thead>
        <tr class="bg-dark text-white">
          <th scope="col">Title</th>
          <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of blogInfo | orderBy : ['-id']">
          <td><a routerLink="/viewpost/{{post.slug}}">{{ post.blogtitle | slice:0:20 }}...</a></td>
          <td>{{ post.blogauthor | titlecase }}</td>
        </tr>
        </tbody>
      </table>
      </nb-card-body>
      </nb-card>
      </div>
      <div *ngIf="jwtUsertype!='User'" class="col">
        <nb-card accent="danger">
        <nb-card-header><h4><nb-icon icon="people-outline"></nb-icon>Users</h4></nb-card-header>
        <nb-card-body>
        <table class="table table-striped">
        <thead>
        <tr class="bg-dark text-white">
          <th scope="col">UID</th>
          <th scope="col">Username</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userData | orderBy : ['uid']">
          <td>{{ user.uid }}</td>
          <a routerLink="/profile/{{user.slug}}"><td>{{ user.username }}</td></a>
        </tr>
        </tbody>
      </table>
      </nb-card-body>
      </nb-card>
      </div>
      <div *ngIf="jwtUsertype!='User'" class="col">
        <nb-card accent="warning">
        <nb-card-header><h4><nb-icon icon="settings-2-outline"></nb-icon>Site Settings</h4></nb-card-header>
        <nb-card-body>
        <table class="table table-striped">
        <thead>
        <tr class="bg-dark text-white">
          <th scope="col">Setting</th>
          <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let setting of settings | orderBy : ['id']">
          <td>{{ setting.setting }}</td>
          <td>{{ setting.value }}</td>
        </tr>
        </tbody>
      </table>
      </nb-card-body>
      </nb-card>
      </div>
    </div>
  </div>
</div>
